<!DOCTYPE html>
<html lang="en">
<head>
  <title>VideoStoreAPI Documentation</title>
  <meta charset="utf-8">
</head>

<body>
  <header>
    <h1>VideoStoreAPI</h1>
    <h2>API Documentation</h2>

    <% for (var top_endpoint in documentation) { %>
      <strong><%= top_endpoint.toUpperCase() %>:</strong>
      <br>
      <%= documentation[top_endpoint] %>

      <% // if documentation[top_endpoint] is an array, do the stuff you were doing below%>

      <br>
    <% } %>

    <br><br>


    <% for (var endpoint of documentation.endpoints) { %>

      <% for (var info of Object.keys(endpoint)) { %>
        <strong><%= info.toUpperCase() %>:</strong><br>
        <%= endpoint[info] %><br>
      <% } %>

      <br><br>
    <% } %>
  </header>
</body>

</html>
