<!-- Add a new endpoint to your application at /api/docs the serves HTML (rendered from a view). This view must contain...
a list of all *endpoints* your application responds to

include the *URI* and *verb* for your endpoint (i.e., GET /movies)
the *optional and required parameters*
a *description* of the *intended use of the endpoint*
a *breakdown of the data returned* by the endpoint for *all possible cases*
some data found
no data found
error occurred -->

<!-- DOCTYPE -->
<html>
<meta charset="utf-8">
  <head>
    <title>Radio Star Video Store API Documentation</title>
  </head>
  <body>

<!-- All endpoints return JSON data. If there is no data/record to return an error message will be returned. -->
<!-- All endpoints are GET -->


<h3>Customers</h3>

  <ul>

    <li>Retrive a list of all customers: (<code>GET '/customers/'</code>)</li>
      <ul> Data returns:
          <li>Found:</li>
          <li>Not found:</li>
          <li>Error:</li>
      </ul>


    <li>Retrive a subset of customers: (<code>GET '/customers/sort/:query'</code>)</li>
      <ul>
        <li>Given a sort column, return <em>n</em> customer records, offset by <em>p</em> records (this will be used to create “pages” of customers)</li>
        <li>Sort params are</li>
          <ul>
            <li>Name example: (<code>'customers/sort/name?n=10&amp;p=2'</code>)</li>
            <li>Registered_at example: (<code>'customers/sort/registered-at?n=10&amp;p=2'</code>)</li>
            <li>Postal_code example: (<code>'customers/sort'/postal-code?n=10&amp;p=2'</code>)</li>
          </ul>
      </ul>
      <ul> Data returns:
          <li>Found:</li>
          <li>Not found:</li>
          <li>Error:</li>
      </ul>


    <li>Given a customer’s id</li>
      <ul>
        <li>List the movies they <em>currently</em> have checked out (<code>GET '/customers/:id/current'</code>)</li>
        <ul> Data returns:
            <li>Found:</li>
            <li>Not found:</li>
            <li>Error:</li>
        </ul>

        <li>List the movies a customer has checked out in the past (<code>GET '/customers/:id/history'</code>)</li>
            <ul>
              <li>ordered by check out date</li>
              <li>includes return date</li>
            </ul>
            <ul> Data returns:
                <li>Found:</li>
                <li>Not found:</li>
                <li>Error:</li>
            </ul>
      </ul>

  </ul>



<h3>Movies</h3>

  <ul>

    <li>Retrieve a list of all movies (<code>GET '/movies'</code>)</li>
    <ul> Data returns:
        <li>Found:</li>
        <li>Not found:</li>
        <li>Error:</li>
    </ul>

    <li>Retrieve a subset of movies (<code>GET '/movies/sort/:query'</code>)</li>
      <ul>
        <li>Given a sort column, return <em>n</em> movie records, offset by <em>p</em> records (this will be used to create “pages” of movies)</li>
        <li>Sort params are</li>
          <ul>
            <li>Title example: (<code>'movies/sort/title?n=5&amp;p=1'</code>)</li>
            <li>Release_date example: (<code>'movies/sort/release-date?n=5&amp;p=1'</code>)</li>
          </ul>
          <ul> Data returns:
              <li>Found:</li>
              <li>Not found:</li>
              <li>Error:</li>
          </ul>
      </ul>

    <li>Given a movie’s title…</li>
      <ul>
        <li>Get a list of customers that have <em>currently</em> checked out a copy of the film (<code>GET '/movies/:movie/current'</code>)</li>
          <ul>
            <li>includes each customer’s name, phone number, and account credit</li>
            <!-- <li> Ordered by... name or checkout date? </li> -->
          </ul>
          <ul> Data returns:
              <li>Found:</li>
              <li>Not found:</li>
              <li>Error:</li>
          </ul>

        <li>Get a list of customers that have checked out a copy <em>in the past</em> (<code>GET '/movies/:movie/history/sort/:query'</code>)</li>
          <ul>
            <li>includes each customer’s name, phone number, and account credit</li>
            <li>ordered by customer name: (<code>'/movies/:movie_id/history/sort/name'</code>)</li>
            <li>ordered by check-out: (<code>'/movies/:movie_id/history/sort/date'</code>)</li>
          </ul>
          <ul> Data returns:
              <li>Found:</li>
              <li>Not found:</li>
              <li>Error:</li>
          </ul>
      </ul>

  </ul>


<h3>Rental</h3>

  <ul>

    <li>Look a movie up by title (<code>GET '/rentals/:title</code>)</p>
      <ul>Returned info:
        <li>movie’s synopsis</li>
        <li>release date</li>
        <li>available inventory (not currently checked-out to a customer)</li>
        <li>and inventory total</li>
      </ul>
      <ul> Data returns:
          <li>Found:</li>
          <li>Not found:</li>
          <li>Error:</li>
      </ul>
    </li>

    <li>See a list of customers that have <em>currently</em> checked out any of the movie’s inventory (<code>GET '/rentals/:movie/customers'</code>)</li>

    <li>Given a customer’s id and a movie’s title …</li>
      <ul>

        <!--this routes is not given :customer_id in our routes file ??? -->
        <li>“check out” one of the movie’s inventory to the customer (<code>GET '/rentals/:movie/check-out'</code>)</li>
          <ul>
            <li> Customer info given through JSON body </li>
            <li>Establish a return date</li>
            <li>Charge the customer’s account (cost up to you)</li>
          </ul>
          <ul> Data returns:
              <li>Found:</li>
              <li>Not found:</li>
              <li>Error:</li>
          </ul>
        </li>


        <!--this routes is not given :customer_id in our routes file ??? -->
        <li>“check in” one of customer’s rentals (<code>GET '/rentals/:movie/return'</code>)</li>
          <ul>
            <li>Customer info given through JSON body</li>
            <li>return the movie to its inventory</li>
          </ul>
          <ul> Data returns:
              <li>Found:</li>
              <li>Not found:</li>
              <li>Error:</li>
          </ul>
        </li>
      </ul>


    <li>See a list of customers with overdue movies (<code>GET '/rentals/overdue'</code>)</li>
      <ul>
        <li>include customer name, movie title, check-out date, and return date</li>
      </ul>
      <ul> Data returns:
          <li>Found:</li>
          <li>Not found:</li>
          <li>Error:</li>
      </ul>




<h3>Informational endpoints</h3>
  <ul>
    <li>(<code>/api/docs</code>) (Serves a <em>HTML view</em> of documentation)</li>
    <li>(<code>/api/docs.json</code>) (Serves JSON documentation)</li>
  </ul>

</body>
</html>
