<!DOCTYPE html>
<html>
  <head>
    <title><%= cow %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= cow %></h1>
    <p>Welcome to <%= cow %></p>
  </body>
</html>
