body {
  padding: 0 50px 50px 50px;
  background-color: #f8f9f8;
  font-size: : 16px;
  font-family: 'Open Sans', sans-serif;
}

h1, h2 {
  font-family: 'Gloria Hallelujah', cursive;
}

h1 {
  font-size: 4rem;
}

a {
  color: #00B7FF;
  text-decoration: none;
}

.docs-container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.docs-container h1 {
  margin: 0;
}

.docs-container img {
  display: block;
  width: 60%;
  margin: auto;
}
